---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div class="page">
  <div class="page__inner">
    {title && <h1 class="page__title">{title}</h1>}
    <div class="page__body">
      <slot />
    </div>
  </div>
</div>

<style lang="scss">
  @use '@/styles/variables' as *;
  @use '@/styles/mixins' as *;

  .page {
    @include margin-bottom(2);

    &__inner {
      padding: 25px 0;

      @include breakpoint-sm {
        padding: 30px 0;
      }

      @include breakpoint-md {
        padding: 40px 0;
      }
    }

    &__title {
      font-size: $font-size-base * 2.5;
      font-weight: 600;
      @include line-height(2);
      margin: 0 0 30px;
    }

    &__body {
      font-size: $font-size-base;
    }
  }
</style>
